@use './variables' as *;
$font-path: "../fonts/" !default;

@font-face{
    src: url('#{$font-path}/NTSomic-Bold.woff2');
    font-family: 'NT Somic';
    font-weight: bold;
}
@font-face{
    src: url('#{$font-path}/NTSomic-Medium.woff2');
    font-family: 'NT Somic';
    font-weight: medium;
}
@font-face{
    src: url('#{$font-path}/NTSomic-Regular.woff2');
    font-family: 'NT Somic';
    font-weight: 400;
}


/* BOOTSTRAP IMPORT */
@import "bootstrap/scss/functions";

// variables override
$primary: $doc-primary;

$theme-colors: (
  "primary": $primary,
);

// custom colors
$custom-colors: (
"doc-primary": $doc-primary,
"doc-accent": $doc-accent,
"doc-blue": $doc-blue,
"doc-red": $doc-red,
"doc-white": $doc-white,
"doc-dark": $doc-dark,
"doc-light-dark": $doc-light-dark
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";
@import "bootstrap/scss/bootstrap";

*{
    font-family: 'NT Somic';
}

a{
    text-decoration: none;
}

/* UTILITY */

.px-6{
  padding-left: 6rem !important;
  padding-right: 6rem !important;
}

/* title section */
.text-h1{
    font-size: 24px;
  }
  .text-h1-md{
    font-size: 40px;
  }                                           
  .text-h1-lg {
    font-size: 40px;             
  }

/* card doctor reviews name */
  .text-h2{
    font-size: 30px;
  }
  .text-h2-md{
    font-size: 30px;
  }
  .text-h2-lg{
    font-size: 24px;
  }

  body{background-color: $doc-white;}

  button:disabled{
    background-color: #979797 !important;
    color: white !important;
  }






/* ===== Scrollbar ===== */
  * {
    scrollbar-width: auto;
    scrollbar-color: #0071a2 #fafafa;
  }
  *::-webkit-scrollbar {
    width: 10px;
  }
  *::-webkit-scrollbar-track {
    background: #fafafa;
  }
  *::-webkit-scrollbar-thumb {
    background-color: #0071a2;
    border-radius: 2px;
    border: 0px solid #fafafa;
  }

  
@import 'vue-select/dist/vue-select.css';

:root {

  --blue: #0071A2;
  --primary: #2FB0BD;
  /* Search Input */
  --vs-search-input-color: var(--blue);

  /* Font */
  --vs-font-size: 16px;

  /* Borders */
  --vs-border-color: var(--blue);
  --vs-border-width: 1px;
  --vs-border-style: solid;
  --vs-border-radius: 5px;

  /* Actions: house the component controls */
  --vs-actions-padding: 4px 6px 0 3px;

  /* Component Controls: Clear, Open Indicator */
  --vs-controls-color: var(--blue);
  --vs-controls-size: 1;
  --vs-controls--deselect-text-shadow: 0 1px 0 #fff;

  /* Selected */
  --vs-selected-color: var(--blue);


  /* Dropdown */
  /* Options */
  --vs-dropdown-option-color: var(--blue);
  --vs-dropdown-option-padding: 3px 20px;

  /* Active State */
  --vs-dropdown-option--active-bg: var(--primary);
}


.searchHome{
  .vs__search, .vs__search:active, .vs__search:focus {
    padding: .6rem 10px;
    position: relative;
  }
  

  .vs__clear {
    display: grid;
    place-items: center;
    position: absolute;
    left: 0;
    padding: 0 10px;
  
    &:hover{
     fill: $doc-red;
    }   
  }
  .vs__selected{
    margin-left: 20px;

    @media screen and (max-width: 550px) {
      width: 200px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      position: relative;
      
    }
   
  }
}

.searchDoctors{
  --vs-border-color: #2FB0BD;
  .vs__search, .vs__search:active, .vs__search:focus {
    padding: .6rem 20px;
  }
  .vs__clear {
    display: grid;
   place-items: center;
   position: absolute;
   left: 5%;
   &:hover{
    fill: $doc-red;
   }
  
  }
  .vs__selected{
    margin-left: 20px;
  }
}

html{
  background-color: white;
}

body{
  max-width: 1500px;
  margin: 0 auto;
  background-color: #FAFAFA;
  // box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}